<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HotelManagement1srv</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAffich</display-name>
    <servlet-name>ServletAffich</servlet-name>
    <servlet-class>servlet.ServletAffich</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAffich</servlet-name>
    <url-pattern>/ServletAffich</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppHotel</display-name>
    <servlet-name>SuppHotel</servlet-name>
    <servlet-class>servlet.SuppHotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppHotel</servlet-name>
    <url-pattern>/SuppHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajoutHotel</display-name>
    <servlet-name>ajoutHotel</servlet-name>
    <servlet-class>servlet.ajoutHotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajoutHotel</servlet-name>
    <url-pattern>/ajoutHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>preModif</display-name>
    <servlet-name>preModif</servlet-name>
    <servlet-class>servlet.preModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preModif</servlet-name>
    <url-pattern>/preModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modif</display-name>
    <servlet-name>Modif</servlet-name>
    <servlet-class>servlet.Modif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modif</servlet-name>
    <url-pattern>/Modif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestion</display-name>
    <servlet-name>gestion</servlet-name>
    <servlet-class>servlet.gestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestion</servlet-name>
    <url-pattern>/gestion</url-pattern>
  </servlet-mapping>
</web-app>